body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-size: 36px;
    text-align: center;
}

.navbar {
    background-color: #9300ce;
}

#crystal-title {
    color: #ffffff;
    text-align: center;
}

.gem-btn {
    color: #ffffff;
    width: 125px;
    border-radius: 50px;
    font-size: 36px;
}

.gem-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.card-body {
    font-size: 24px;
    text-align: center;
    font-weight: 900;
}

p {
    text-align: center;
}

.fas {
    margin: 10px;
    color: #ffffff;
}

.fa-gem {
    margin-top: 25px;
    margin-bottom: 25px;
}

.scores {
    margin-top: 25px;
    margin-bottom: 25px;
}